/*.sliderController{

  width: 200px;
} 

.container{
  display: flex;
  height: 70vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between ;
}*/
.sliderController {
  width: 200px;
  height: 8px;
  appearance: none;
  background: linear-gradient(to right, lightblue, darkblue);
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.sliderController::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.sliderController::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  height: 70vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
